<section>
  <div class="pt-16 grid grid-cols-3 grid-rows-4" id="top-mid-right">
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="https://anlucas.neocities.org/macmade2.gif"
      alt="made with mac"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="https://cyber.dabamos.de/88x31/anythingbut.gif"
      alt="88x31"
    />
    <a href="https://github.com/Tnixc" target="_blank"
      ><img
        draggable="false"
        class="p-1 border border-zinc-800"
        src="https://cyber.dabamos.de/88x31/github-check.gif"
        alt="88x31"
      /></a
    >
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="https://cyber.dabamos.de/88x31/z3r0s.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="https://cyber.dabamos.de/88x31/vim.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/1.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/2.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/3.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/4.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/5.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/6.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/7.gif"
      alt="88x31"
    />
  </div>
  <div class="pt-2 grid grid-cols-3 grid-rows-6" id="mid-mid-right">
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/8.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/9.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/10.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/11.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/12.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/13.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/14.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/15.gif"
      alt="88x31"
    />
    <img
      draggable="false"
      class="p-1 border border-zinc-800"
      src="../../../src/assets/16.gif"
      alt="88x31"
    />
  </div>
</section>
<style>
  #top-mid-right {
    transform: perspective(1000px) rotateX(20deg) rotateY(6deg) rotateZ(-3deg);
  }
  #mid-mid-right {
    transform: perspective(1000px) rotateX(10deg) rotateY(3deg) rotateZ(0deg);
  }
  img draggable="false" {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
  }
</style>
