<section>
  <div class="-z-index-50 fixed inset-0"></div>
</section>
<style>
  div {
    background-size: 3cqw 3cqw;
    inset: 100px;
    bottom: 50vh;
    background-image: linear-gradient(to right, #202020 1px, transparent 1px),
      linear-gradient(to bottom, #202020 1px, transparent 1px);
  }
  div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
  }
</style>
