<section>
  <div class="-z-index-50 fixed inset-0"></div>
</section>
<style>
  div {
    background-size: 3cqw 3cqw;
    background-image: linear-gradient(to right, #2B2C3F 1px, transparent 1px),
      linear-gradient(to bottom, #2B2C3F 1px, transparent 1px);
  }
</style>
