<section>
  <div class="p-20 text-2xl text-white relative z-10">
    <h1>Hello world</h1><h1>Hello world</h1><h1>Hello world</h1>
    <h1 class="text-6xl text-pink-400">CRT screen effect</h1>
  </div>
</section>
