---
import BaseLayout from "@/layouts/BaseLayout.astro";
import About from "@/components/landing/About.astro";
import Badges from "@/components/landing/Badges.astro";
---

<BaseLayout>
  <div
    class="flex flex-wrap justify-between pt-20 lg:pt-0 lg:px-20 w-screen items-center"
  >
    <About />
    <Badges />
  </div>
</BaseLayout>
