---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Main from "@/components/landing/Main.astro";
import About from "@/components/landing/About.astro";
import Badges from "@/components/landing/Badges.astro";
---

<BaseLayout>
  <div class="flex">
    <Main />
    <About />
    <Badges />
  </div>
</BaseLayout>
