---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Main from "@/components/landing/Main.astro";
import About from "@/components/landing/About.astro";
import Badges from "@/components/landing/Badges.astro";
import Stats from "@/components/landing/Stats.astro";
---

<BaseLayout>
  <div class="flex flex-wrap items-center justify-center lg:justify-normal pt-36 lg:pt-0">
    <Main />
    <About />
    <Badges />
    <Stats />
  </div>
</BaseLayout>
