<footer>
  <div class="fixed bottom-0 right-0 p-20 text-2xl">
    <a class="border block w-fit" href="">Source on GitHub 🡕</a>
    <p class="text-neutral-300 text-lg">Made with Astro + Tailwind</p>
  </div>
</footer>
<style>
  footer {
    background-color: #f3f4f6;
  }
  div {
    transform: perspective(1000px) rotateX(-24deg) rotateY(14deg) rotateZ(0deg);
  }
  a {
    position: relative;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  a::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 0%;
    background-color: #ffffff;
    mix-blend-mode: exclusion;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  a:hover {
    transform: scale(1.1);
  }
  a:hover::after {
    width: 100%;
  }
</style>
