<section>
  <div class="flex lg:p-12 fixed top-0 p-4 z-[99]">
    <div class="flex flex-col text-2xl lg:text-3xl" id="top-left">
      <div class="flex"><button class="bg-black inline " onclick="handleClick()">▤Discord: @Tnixc</button><span class="unseen bg-lime-300 text-black w-min text-xl h-min">✓Copied</span></div>
      <a class="bg-black " href="https://twitter.com/_Tnixc" target="_blank">🡔X/Twitter</a>
      <a class="bg-black" href="https://github.com/Tnixc" target="_blank">🡔GitHub</a>
    </div>
  </div>
</section>
<script lang="ts">
  function handleClick() {
    const span = document.querySelector("#top-left span");
    navigator.clipboard.writeText("Tnixc");
    span.classList.remove("unseen");
    span.classList.add("seen");
    setTimeout(() => {
      span.classList.remove("seen");
      span.classList.add("unseen");
    }, 2000);
  }
</script>
<style>
  span {
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .unseen {
    opacity: 0;
    transform: translateY(0rem);
  }
  .seen {
    opacity: 1;
    transform: translateY(0.4rem);
  }
  #top-left {
    transform: perspective(1000px) rotateY(-20deg) rotateX(20deg);
    position: relative;
    a,
    button {
      position: relative;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      width: fit-content;
    }
    a:hover,
    button:hover {
      transform: scale(1.1);
    }
    a::after,
    button::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 0%;
      background: white;
      mix-blend-mode: difference;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    a:hover::after,
    button:hover::after {
      width: 100%;
    }
  }
</style>
